.layout {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat( 8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: 100vh min-content repeat(5, min-content);
    padding: 0;
    max-width: none;
    overflow: hidden;
}