$font-primary: "Lato", sans-serif;
$font-size: 2.2rem;
$font-color: #666;
$color-primary: #1d6c9f;
$color-secondary: #227fbb;
$color-tertiary: #58a8dd;
$color-grey-darker: rgb(49, 49, 49);
$color-light: #eeeeee;
$color-grey-dark: #777;
